body{background: #fff;}
.main_content{
    width: 95%;
    margin: 0 auto;
}
table,th,td{border: 1px solid rgba(0,0,0,0.4);}
table{
    width:90%;
    text-align: center;
    border-spacing:0px !important;
    margin: 0 auto;
}
.bakground_blue{ width: 63px; height: 20px;}
.bakground_lightblue{ width: 63px; height: 20px;}
.bakground_red{ width: 63px; height: 20px;}
.background_white{ width:35px; height: 20px;}
.background_gray{background:#f2f2f2; }
.backgroudcolor_blue{ background: rgb(0,86,137); color: #fff;border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;}